body{
    background-color: rgb(80, 206, 238);
    font-family: sans-serif;
    font-style: normal;
    text-align: center;
    color: white;
    
    padding: 10px;

    
}
table,tr,td{

    border-style: solid;
    border-color:palegreen;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
       
}
#id1{
    background-color:green;
}
.class1{
    padding: 0%;
}
#bluecolor{
    background-color:white;
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#green{
    background-color: green;
}
footer{
    background-color: palegoldenrod;
    padding: 10px;
    color: green;
}